.cards {
  display: flex;
  justify-content: space-around;
}

.cards-picture {
  width: 200px;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 4px grey
}
.cards-picture img {
  width: 150px;
  height: 100px;
}

.card-white {
  margin: 10px auto;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 3px 3px px grey;
  text-align: center;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 40px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
